pkgbase = mingw-w64-libsodium
	pkgdesc = A modern, portable, easy to use crypto library (mingw-w64)
	pkgver = 1.0.19
	pkgrel = 1
	url = https://github.com/jedisct1/libsodium
	arch = any
	license = custom:ISC
	makedepends = mingw-w64-configure
	depends = mingw-w64-crt
	options = !strip
	options = !buildflags
	options = staticlibs
	source = https://download.libsodium.org/libsodium/releases/libsodium-1.0.19.tar.gz
	source = https://download.libsodium.org/libsodium/releases/libsodium-1.0.19.tar.gz.sig
	validpgpkeys = 54A2B8892CC3D6A597B92B6C210627AABA709FE1
	b2sums = de43520150b55760142d186404cc3e49471c6e911a7a590c7ae08bc61e928c063c459555f49cd88155238fb0008ef3924b6d7c14ba9cff2f90f1e96201e1259c
	b2sums = SKIP

pkgname = mingw-w64-libsodium
